---
import TeamCard from './TeamCard.astro';

import Samuel from '../../assets/team/Samuel.jpg';
---

<section class="team">
    <h2>Meet <strong>The Team.</strong></h2>
    <p>Our leadership team consists of experienced individuals, each bringing a nuanced expertise to the table.</p>
    <div class="card-wrapper">
        <TeamCard team_member="Nithish Noel" team_role="Business Operations" team_image={Samuel} team_alt="Image of Samuel Francis"/>
        <TeamCard team_member="Robinson Manuvel" team_role="Full Stack Dev" team_image={Samuel} team_alt="Image of Samuel Francis"/>
        <TeamCard team_member="Samuel Francis" team_role="UI/UX Designer" team_image={Samuel} team_alt="Image of Samuel Francis"/>
        <TeamCard team_member="Kevin Kagoo" team_role="Digital Marketing" team_image={Samuel} team_alt="Image of Samuel Francis"/>
        <TeamCard team_member="Shane Lemeur" team_role="Marketing Analytics" team_image={Samuel} team_alt="Image of Samuel Francis"/>
        <TeamCard team_member="Vishwesh Rajan" team_role="Copy Writing" team_image={Samuel} team_alt="Image of Samuel Francis"/>
    </div>
</section>

<style>
    .team {
        padding: 5% 10%;

        display: flex;
        flex-direction: column;
        
        align-items: center;
        gap: 2rem;
    }

    h2 {
        font-family: 'PlayfairDisplay';
        font-size: 3rem;
        font-weight: 400;
    }

    p {
        width: 65ch;
        text-align: center;
        font-size: 1rem;
    }

    .card-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 5rem;
    }
</style>